.available-devices{
    padding: 5.6vw;

    h2{
        text-align: center;
    }
    &__list{
        display:grid;
        gap: 24px;
        grid-template-columns:repeat(4, 1fr) ;

        &__item{
            text-align: center;
            img{
                max-width: 100%;
            }

            h4{
                margin-top: 20px;
                margin-bottom: 24px;
            }
        }
    }
}