.download{
    padding: 0 5.6vw;
    position: relative;

    &__img{
        width: 100vw;
        height: 100vh;
    }

    div{
        position: absolute;
        top: 15vw;
        right: 0;
        max-width: 380px;

        .textS{
            margin-top: 20px;
        }
    }
}